body{
    padding: 0;
    margin: 0; 
    background-color: #2a2a2a;
    text-align: center;
    color: #fff;
}

.title-block{
    width: 100%;
    color: white;
    text-align: center;
}

.title-block > img{
    max-width: 90%;
}

.title-block > button{
    margin: 30px;
    padding: 25px 100px;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 20px;
    background: #e0e0e000;
    box-shadow:  5px 5px 12px #bebebe,
                -5px -5px 12px #ffffff;
}

.title-block > button:hover{
    cursor: pointer;
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 20px;
    background: #9f93d0;
    box-shadow:  20px 20px 40px #dd7c7c,
                -20px -20px 40px #9f93d0;
}

.content-block{
    height: 100vw;
    width: 100%;
    justify-content: space-between;
}

.content-block > img {
    top: 20px;
    max-height: 50px;
    padding: 15px;
}

.content-block > img:hover {
    cursor: pointer;
}

.movie-container{
    max-width: 100%;
}

.movie-container > img{
    max-width: 100%;
}

#subs{
    /* position: sticky; */
    padding: 10px 25px;
    text-align: center;
    font-weight: 800;
    color: wheat;
}


/* M O B I L E */
.page-turn-container{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}

.micro-text{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.hid{
    display: none;
}

/* @media screen and (max-width: 400px) {
    .page-turn-container > img {
        display: none;
    } 
} */